name: CI Feature Workflow Java Maven

on:
  workflow_call:
    inputs:
      project-name:
        required: true
        type: string
    secrets:
      GH_TOKEN:
        required: true
      SONAR_TOKEN:
        required: true
      SONAR_KEY:
        required: true

jobs:
  build-and-analyze:
    runs-on: ubuntu-latest
    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SONAR_KEY: ${{ secrets.SONAR_KEY }}
    steps:
      - name: Checkout do c칩digo
        uses: actions/checkout@v4
      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: corretto
          java-version: 21
      - name: Cache Maven
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: maven-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            maven-${{ runner.os }}-
      - name: 游닍 Build com Maven
        run: mvn clean install --no-transfer-progress
      - name: 游빍 Lint da imagem com Hadolint
        uses: tmknom/secure-hadolint-action@v0.4.2

      #- name: Scan de vulnerabilidades com Trivy
      #  uses: aquasecurity/trivy-action@master
      #  with:
      #    image-ref: '${{ inputs.project-name }}:latest'
      #    format: 'table'
      #    exit-code: '1'
      - name: 游댌 An치lise Sonar
        # run: mvn verify sonar:sonar -Dsonar.login=$SONAR_TOKEN -Dsonar.organization="kubernetes-labs" -Dsonar.projectKey=$SONAR_KEY
        run: echo "Analise sonar desabilitada"

  create-pull-request:
    needs: build-and-analyze
    runs-on: ubuntu-latest
    steps:
      - name: Create PR via GitHub CLI
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr create --base develop --head ${{ github.head_ref }} -t "PR aberta auto" -b "PR criado automaticamente ap칩s sucesso na an치lise Sonar."
